body {
  font-family: sans-serif;
  margin: auto;
}

#content {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    margin: 1em;
    line-height: 1.5em;
}

#project-title {
    font-size: 48pt;
    vertical-align: bottom;
}


#links {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}

.emulated-flex-gap > * {
  margin: 12px 0 0 12px;
}

.emulated-flex-gap {
  display: inline-flex;
  flex-wrap: wrap;
  margin: -12px 0 0 -12px;
  width: calc(100% + 12px);
}

p {
  font-size: 0.8em;
}

pre {
    padding: 10px;
    background: #eee;
    border: thin solid darkgray;
    white-space: pre-wrap;
}
